|===
|필드명|필수값|설명|기타

{{#headers}}
    |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{^optional}}true{{/optional}}{{#optional}}false{{/optional}}{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#etc}}{{.}}{{/etc}}{{/tableCellContent}}

{{/headers}}

|===