|===
|필드명|타입|설명|성공|실패

{{#fields}}
    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#success}}{{.}}{{/success}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#fail}}{{.}}{{/fail}}{{/tableCellContent}}

{{/fields}}

|===